<div class="container-body">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter github username..." name="Username" [(ngModel)="username" name="username" >
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 20px;"><strong>GitHub Name: {{user.name}}</strong></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <img class="img-thumbnail" src="{{user.avatar_url}}">
            <a class="btn btn-default btn-block" target="_blank" href="{{user.html_url}}">View Profile</a>
          </div>
  
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="stats">
              <p>{{user.bio}}</p>
              <span class="label label-default">{{user.public_repos}} Public Repos</span>
              <span class="label label-success">{{user.followers}} Followers</span>
              <span class="label label-info">{{user.following}} Following</span>
              <span class="label label-danger">{{user.company}}</span>
              <span class="label label-danger">{{user.type}}</span> 
            </div>
            <br/>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Username: </strong>{{user.name}}
            </li>
            <li class="list-group-item">
              <strong>Location: </strong>{{user.location}}
            </li>
            <li class="list-group-item">
              <strong>Email: </strong>{{user.email}}
            </li>
            <li class="list-group-item">
              <strong>Member Since: </strong>{{user.created_at}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container" style="padding: right 500px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align:center"><strong>User Repos</strong></h3>
    </div>
    <div class="panel-body">
      <div *ngFor="let repo of repository">
        <div class="row">
          <div class="col-md-9">
            <h4>
                <a target="_blank" href="{{repository.html_url}}">{{repo.name}}</a>
            </h4>
            <p>{{repo.description}}</p>
          </div>
          <div class="col-md-3">
            <span class="label label-default">{{repo.watchers}} Watchers</span>
            <span class="label label-primary">{{repo.forks}} Forks</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>

